@import '../../utilities/mixins'; 
@import '../../utilities/variables';
@import '../../utilities/extends';
@import '../../utilities/keyframes.scss';

.landing-page {
    animation: fadeOut 1s;
    text-align: center;
    @include flexbox($just: center, $align: center);
    &-inner {
        background: $light-black;
        padding: 10px 50px;
        margin-top: 100px;
        letter-spacing: $letter-space;
        border-radius: $br--default;
        @include mq('medium') {
            padding: 60px 100px;
        }
        &-item {
            color: $white-smoke;
            font-size: 50px;
            letter-spacing: $letter-space;
        }
    }

}