@import '../../../utilities/mixins'; 
@import '../../../utilities/variables';
@import '../../../utilities/extends';

.trolley-columns {
    p {
        font-weight: $font-weight--bold;
        display: none;
        @include mq('medium') {
            display: inline-block;
        }
    }
    @include mq('medium') {
        @include flexbox($just: space-evenly);
    }
}